@import 'sprite';
@import 'slick-theme';
@import 'slick';

$font-family: 'Poppins', sans-serif;

$f60: 60px;  //Titulo principal
$f48: 48px;
$f36: 36px;  //Titulo slider rombo
$f30: 30px;  //Titulo integrantes
$f24: 24px;  //Subtitulo principal, Texto de formulario
$f20: 20px;  //Subtitulo principal, Texto de datos de contacto
$f18: 18px;  //Texto integrantes
$f14: 14px;  //Menu y texto

$brown: #776256;
$brown_op: rgba(119,98,86,0.8);  //rombo
$brown_op2: rgba(119,98,86,0.7);  //integrantes
$brown_op3: rgba(119,98,86,0.56); 
$white: #FFF;
$purple: #8855a0;
$purple_op: rgba(136,85,160,0.7);
$black_op: rgba(0,0,0,.8);


/* Componentes */

.title-section{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 100px;
	margin-bottom: 80px;
	&.contact{
		margin-bottom: 50px;
	}
	.horizontal-line{
		height: 6px;
		max-width: 290px;
		width: 100%;
		background-color: $white;
	}
	h3{
		font-size: 60px;
		text-transform: uppercase;
		color: $white;
		margin: 15px 0 0;
		line-height: 1;
	}

	h4{
		font-size: 24px;
		text-transform: uppercase;
		color: $white;
		margin: 15px 0 0px;
		line-height: 1;
	}

	@media only screen and (max-width: 991px){
		margin-top: 50px;
		margin-bottom: 40px;
		h3{
			font-size: 45px;
		}
		h4{
			font-size: 22px;
		}

	}
	@media only screen and (max-width: 640px){
		margin-top: 40px;
		margin-bottom: 30px;
		.horizontal-line{
			height: 4px;
		}
		h3{
			font-size: 30px;
			margin: 10px 0 0;
		}
		h4{
			font-size: 14px;
			margin: 10px 0 0;
			text-align: center;
		}
	}
}

/* Componentes */

a{
	text-decoration: none;
	&:hover,&:active,&:focus{
		text-decoration: none;
	}
}

body{
	background-color: black;
	background-image: url("../img/background-pattern.png");
	background-repeat: repeat;
	overflow-x: hidden;
	&.open{
		overflow: hidden;
	}
}

.layer-overlay{
	position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: -1;
    opacity: 0;
    transition: all 0.5s ease-in;
    &.open{
    	opacity: 1;
    	z-index: 2;
    	transition: all 0.5s ease-in;
    }
}

.menu-container{
	background-color: $white;
	height: 148px;
	@media only screen and (max-width: 991px){
		height: 115px;
	}
}

.menu-container-children{
	display: flex;
	height: 148px;
    align-items: center;
    .logo{
    	flex: 2;
    }
    .nav{
		display: flex;
		justify-content: flex-end;
		flex: 10;
		.menu-desktop{
			display: flex;
			align-items: center;
			list-style-type: none;
			padding: 0;
			li{
				border: 4px solid transparent;
				&:hover{
					border: 4px solid $brown;
				}
				a{
					display: flex;
					align-items: center;
					padding: 0 20px; 
					color: $brown;
					height: 35px;
					line-height: 35px;
					display: block;
					font-size: $f14;
					text-transform: uppercase;
				}
			}
		}
	}
	.nav-mobile{
		flex: 0;
		position: absolute;
		z-index: 3;
		height: 100%;
		max-width: 220px;
		width: 100%;
		background-color: $brown;
		top: 0;
    	bottom: 0;
    	right: 0;
    	box-shadow: -5px 0px 18px 2px rgba(0,0,0,.4);
    	transition: transform 0.5s ease-in;
    	transform: translateX(110%);
    	&.open{
    		transform: translateX(0);
    	}
    	.menu-mobile{
    		display: flex;
			align-items: center;
			list-style-type: none;
			flex-direction: column;
			padding: 0;
    	}
    	li{
    		display: block;
    		width: 100%;
    		border-top: 2px solid white;
    		&:last-child{
    			border-bottom: 2px solid white;
    		}
    		a{
    			display: flex;
				align-items: center;
				justify-content: center;
    			height: 60px;
    			width: 100%;
    			color: $white;
    			font-size: $f14;
				text-transform: uppercase;
    		}
    	}
		@media only screen and (max-width: 991px){
			flex: 1;
		}
	}
	@media only screen and (max-width: 991px){
		height: 115px;
	}
}

.menu-hamburguer{
	padding: 10px;
	max-width: 60px;
	cursor: pointer;
	flex: 0;
	.line{
		background-color: $brown;
		width: 100%;
		height: 4px;
		margin-bottom: 5px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	@media only screen and (max-width: 991px){
		flex: 1;
	}
}

.main-image{
	height: 730px;
	width: 100%;
	background-position: center bottom;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
	&:after{
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		background-image: url("../img/pattern-images.png");
		background-repeat: repeat;
		width: 100%;
    	height: 100%;
    	opacity: 0.43;
	}

	.rectangle-text-parent{
		display: flex;
		&.right{
			justify-content: flex-end;
		}
	}

	.rectangle-text{
		background-color: $brown_op3;
		&.one{
			height: 122px;
			margin-top: 96px;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			padding: 0 80px;
			h1{
				margin: 0;
				font-size: $f48;
				text-transform: uppercase;
				color: $white;
				text-shadow: -3px 3px 3px rgba(0,0,0,0.8);

			}
		}
		&.two{
			height: 90px;
			margin-top: 182px;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			padding: 0 80px;
			h2{
				margin: 0;
				font-size: $f36;
				text-transform: uppercase;
				color: $white;
				text-shadow: -3px 3px 3px rgba(0,0,0,0.8);
			}
		}
		&.three{
			height: 90px;
			margin-top: 100px;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			padding: 0 80px;
			h3{
				margin: 0;
				font-size: $f36;
				text-transform: uppercase;
				color: $white;
				text-shadow: -3px 3px 3px rgba(0,0,0,0.8);
			}
		}
	}

	@media (max-width: 991px){
		.rectangle-text{
			&.one{
				h1{
					font-size: $f36;
				}
				
			}
			&.two{
				h2{
					font-size: $f30;
				}
				
			}
			&.three{
				h3{
					font-size: $f30;
				}
				
			}
		}
	}

	@media (max-width: 767px){
		height: 300px;
		.rectangle-text-parent{
			&:not(:first-child){
				display: none;
			}
		}
		.rectangle-text{
			&.one{
				height: 60px;
				padding: 0 15px;
				margin-top: 40px;
				h1{
					font-size: $f24;
				}
				
			}
		}
	}
}

/* Galería */

.ninja-slider-container{
	display: none;
}

.gallery-image{
	position: relative;
	margin-bottom: 30px;
	cursor: pointer;
	overflow: hidden;
	img{
		max-width: 100%;
		height: auto;
	}
	&:hover{
		.hover-gallery-image{
			top: 0;
			transition: all 0.2s ease-in;
		}
	}
	.hover-gallery-image{
		transition: all 0.2s ease-in;
		position: absolute;
		left: 0;
		top: -100%;
		background-color: $purple_op;
		color: $white;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		width: 100%;
		font-size: $f24;
		line-height: 1.2;
		text-transform: uppercase;
		padding: 20px;
		text-align: center;
		&:after{
			content: "";
			position: absolute;
			box-shadow: inset 0px 0px 0px 5px $white;
			height: 90%;
		    width: 90%;
		    left: 5%;
		    top: 5%;
		}
	}
	@media (max-width: 767px){
		max-width: 262px;
		max-height: 200px;
		margin: 20px auto;
	}
}

/* Paquetes */

.main-image-packages{
	background-position: center bottom;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	height: 960px;
	overflow: hidden;
	@media (max-width: 991px){
		height: auto;
	}
}

.package-slider{
	max-width: 960px;
	margin: 0 auto;
}

.rhombus{
	background-color: $brown_op;
	transform: rotate(45deg);
	min-height: 680px;
    width: 680px;
    margin: 140px auto;
    transform-origin: 50% 50%;
    position: relative;
    @media (max-width: 991px){
    	transform: rotate(0deg);
    	width: 80%;
    	margin: 40px auto;
    }
    @media (max-width: 640px){
		width: 100%;
		margin: 0 auto;
    }
}

.package-content{
	transform: rotate(-45deg);
	max-width: 440px;
	//position: relative;
	position: absolute;
    left: 5%;
    top: 30px;
    right: 0;
    bottom: 0;
    margin: auto;
    >div{
    	display: flex;
	    flex-direction: column;
	    align-items: center;
	    justify-content: center;
	    height: 85%;
    }
    
	h5{
		font-size: 36px;
		color: $white;
		text-transform: uppercase;
		line-height: 1;
		margin-bottom: 35px;
		text-align: center;
	}
	ul{
		padding: 0;
		list-style-type: none;
		color: $white;
		li{
			position: relative;
			padding: 0 8px;
			font-size: 14px;
			margin: 5px 0;
			&:after{
				content: "-";
				position: absolute;
				left: 0;
				top: 0;
			}
		}
	}
	.icon-music{
		@include sprite($music);
		margin: 40px auto;
		// position: relative;
		// top: 40px;
	}

	@media (max-width: 991px){
	 	transform: rotate(0deg);
	 	left: 0;
    	top: 0;
		.icon-music{
	 	    margin: 15px auto 0;
	 		// position: relative;
			// top: 15px;
	 	}
	}
	@media (max-width: 767px){
		padding: 30px 50px;
		position: relative;
		
	}
	 @media (max-width: 640px){
	 	h5{
	 		font-size: 20px;
	 	}
	 	ul{
	 		li{
	 			font-size: 13px;
	 			line-height: 1.2;
	 		}
	 	}
	 }
	    
}

/* Video */

.video-play-container{
	max-width: 855px;
	text-align: center;
	margin: 0 auto;
}

.video-play {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	text-align: center;
	iframe{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

/* Musical Equipment */


.musical-equipment{
	margin-top: 110px;
}

.musical-equipment-slider{
	max-width: 1160px;
	margin: 0 auto;
	overflow: hidden;
	display: flex;
	justify-content: center;
	@media (max-width: 991px){
		flex-direction: column;
	}
}

.square-title-container{
	height: 262px;
	background-color: $purple;
	width: 265px;
	float: left;
	.icon-musics{
		@include sprite($musics);
		margin: 20px auto;
	}
	h3{
		font-size: $f48;
		color: $white;
		text-transform: uppercase;
		text-align: center;
	}

	@media (max-width: 991px){
		width: 584px;
		margin: 0 auto;
		float: none;
	}
	@media (max-width: 767px){
		h3{
			font-size: $f30;
		}
	}
	@media (max-width: 584px){
		width: 292px;
	}
}

.musical-equipment-slider-container{
	float: left;
	max-width: 876px;
	>div{
		img{
			max-width: 100%;
			height: auto;
		}
		
	}	
	@media (max-width: 1140px){
		width: 584px;
	}	
	@media (max-width: 991px){
		float: none;
		margin: 0px auto;
	}
	@media (max-width: 584px){
		width: 292px;
	}
	    
}

/* Members Container */

.members-container{
	background-image: url("../img/music-signs.png");
	height: 523px;
	width: 100%;
	background-size: cover;
	background-position: center;
	overflow: hidden;
	@media (max-width: 767px){
		height: auto;
	}
}


.members-container-slider{
	position: relative;
	max-width: 1140px;
	width: 100%;
	margin: 85px auto;
	.member-container{
		margin-right: 5px;
		margin-left: 5px;
	}
	.member{
		max-width: 360px;
		height: 352px;
		overflow: hidden;
		position: relative;
		margin: 0 auto;
		&:hover{
			cursor: pointer;
			.presentation-member{
				bottom: 0;
			}
		}
	}
	.presentation-member{
		background-color: $brown_op2;
		color: $white;
		position: absolute;
		bottom: -150px;
		width: 100%;
		height: 260px;
		padding: 20px;
		text-align: center;
		transition: all 0.5s ease-in;
		display: flex;
		align-items: center;
		flex-direction: column;
		h4,.member{
			text-transform: uppercase;

		}
		h4{
			font-size: $f30;
			margin: 0 0 18px;
			height: 70px;
			overflow: hidden;
			display: flex;
			align-items: center;
		}
		>div{
			font-size: $f18;
			line-height: 1.2;
			margin: 0 0 12px;
			display: flex;
			align-items: center;
			&:last-child{
				margin: 0 0 5px;
			}
			&.studies{
				height: 40px;
				overflow: hidden;
			}
		}
	}
	@media (max-width: 767px){
		margin: 35px auto;
	}
}

/* Repertory */

.repertory{
	margin-bottom: 95px;
}

.button-repertory{
	display: block;
	max-width: 520px;
	margin: 0 auto;
	background-color: $purple;
	height: 102px;
	display: flex;
	justify-content: center;
	align-items: center;
	.icon-repertory{
		margin-right: 40px;
		@include sprite($micro);
	}
	.name-repertory{
		color: $white;
		text-transform: uppercase;
		font-size: $f36;
		text-align: center;
	}

	@media (max-width: 640px){
		max-width: 300px;
		.name-repertory{
			font-size: 20px;
		}
		.icon-repertory{
			margin-right: 15px;
		}
	}
}


/* Contact */

.contact-container{
	background-image: url("../img/background-contact.jpg");
	height: auto;
	width: 100%;
	background-size: cover;
	background-position: center;
	overflow: hidden;
}

.contact-form{
	background-color: $black_op;
	padding: 0 85px;
	margin-bottom: 50px;
	overflow: hidden;
	.input-container{
		margin-top: 40px;
		label{
			font-weight: 400;
			font-size: $f24;
			color: $white;
			text-transform: uppercase;
			display: block;
			&.error{
				margin-top: 10px;
				color: #EB3F4E;
				font-size: $f14;
			}
		}
		input{
			height: 38px;
		}
		input,textarea{
			background-color: transparent;
			border: 2px solid $white;
			width: 100%;
		}
	}
	button{
		max-width: 390px;
		width: 100%;
		display: block;
		color: $white;
		text-transform: uppercase;
		height: 68px;
		background-color: $brown;
		display: flex;
		align-items: center;
		justify-content: center;
		border: none;
		margin: 40px auto;
		font-size: 24px;
	}
	@media (max-width: 767px){
		padding: 0 20px;
		.input-container{
			margin-top: 15px;
			label{
				font-size: $f18;
			}
		}
		button{
			font-size: $f20;
		}
	}
}

.contact-data{
	display: flex;
	&-one{
		flex: 1 0 0px;
		.phone{
			margin-bottom: 25px;
			color: $white;
			display: flex;
			align-items: center;
			font-size: $f20;
			.icon-phone{
				@include sprite($phone);
			}
			.phone-text{
				margin-left: 20px;
			}
		}
		.mail{
			margin-bottom: 40px;
			color: $white;
			display: flex;
			align-items: center;
			font-size: $f20;
			.icon-mail{
				@include sprite($mail);
			}
			.mail-text{
				margin-left: 20px;
			}
		}
	}
	&-two{
		flex: 1 0 0px;
		display: flex;
		justify-content: center;
		.icon-facebook{
			display: block;
			@include sprite($facebook);
		}
	}
	@media (max-width: 767px){
		flex-direction: column;
		&-one{
			.phone,.mail{
				flex-direction: column;
			}
		}
		&-two{
			flex-direction: column;
			flex: 1 1 auto;
			align-items: center;
			margin-bottom: 40px;
		}
	}
}

/* Footer */

.footer{
	height: 80px;
	color: $white;
	font-size: $f18;
	display: flex;
	justify-content: center;
	align-items: center;
	p{
		margin: 0;
	}
}




